.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  gap: var(--size24);
  place-items: center;
  .pokemon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: var(--size8);
    padding: var(--size16);
    height: var(--size300);
    width: var(--size300);
    border: 1px solid var(--foreground);
    border-radius: var(--size8);
    cursor: pointer;
    img {
      width: 70%;
    }
    h4 {
      font-size: var(--size20);
      font-weight: 700;
      text-transform: capitalize;
    }
  }
}
