nav {
  width: 100%;
  padding: var(--size16) var(--size24);
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 var(--size8) rgba(255, 97, 97, 0.7);
  .content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--size24);
    width: 100%;
    .link {
      font-size: var(--size32);
      font-weight: 700;
      color: white;
      text-decoration: none;
      transition: color 0.2s;
    }
  }
}
