.pokemonBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--size12);
  padding: var(--size12);
  border-radius: var(--size12);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 var(--size12) rgba(0, 0, 0, 0.1);
  width: 40%;
}